@import '~normalize-css/normalize.css';

body, h1, h2, h3, h4, h5, h6, div, i, p, span {
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
}

.side-bar-header {
    margin-top: 0px;
}

.here div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.side-bar .item-label {
    width: 100px;
    display: inline-block;
}

.video-play {
    position: absolute;
    bottom: 10px;
    color: white;
    right: 20px;
}

.download-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}